<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Topping List:</h1>
<% toppings.forEach(topping => { %>
  <h3><%= topping.name %></h3>
<% }) %>

<%- include('../partials/footer') %>
