<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Add a waffle</h1>

<form action="/waffles" method="POST">
  <input type="text" name="description" placeholder="Describe your waffle">
  <button type="submit">Submit waffle</button>
</form>

<%- include('../partials/footer') %>
